/*Simulación conttainer three js */
.model {
  background-image: url('../public/assets/bg-poster-3d.jpg');
  background-position: center;
  background-size: cover;
  z-index: 8;
  width: 100%;
  height: 100vh;
  display: block
}

/* Modal bienvenida */
.wrapperModales {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  background-color: #6550E2;
  mix-blend-mode: lighten;
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapperModales h1 {
  text-align: center;
}

.wrapperModales p {
  text-align: center;
}

.logoWowBen {
  width: 15%;
  margin-bottom: 40px;
  display: block;
}

.logoWowBen img {
  width: 100%;
}

.welcomeModal {
  position: relative;
  width: 40%;
  height: 50%;
  background-color: #6550E2;
  border-radius: 16px;
  padding: 40px;
  -webkit-box-shadow: 0px 5px 26px 0px #6550E2;
  box-shadow: 0px 5px 26px 0px #6550E2;
  z-index: 12;
  transition: all ease-in-out 2s;
}

/* UI Model */
.uiModel {
  position: absolute;
  top: 40px;
  right: 0%;
  width: auto;
  height: auto;
  background-color: transparent;
  z-index: 10;
  transition: all ease-in-out 1s;
  display: none;
  pointer-events: none;
}

.btnModel1 {
  max-width: 60px;
  height: auto;
  margin-bottom: 28px;
}

.btnModel1>img {
  width: 100%;
}

.btnModel2 {
  max-width: 60px;
  height: auto;
  margin-bottom: 28px;
}

.btnModel2>img {
  width: 100%;
}

.btnModel3 {
  max-width: 60px;
  height: auto;
  margin-bottom: 28px;
}

.btnModel3>img {
  width: 100%;
}

/* UI User */
.uiUser {
  position: absolute;
  top: 40px;
  left: 0;
  width: 25%;
  opacity: 0;
  display: none;
  transition: all ease-in 2s;
}

.wrapperScore {
  position: relative;
}

.cardPoints {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nameUser {
  width: 50%;
}

.nameUser>p {
  text-align: center;
  font-weight: bolder;
}

.points {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.coins {
  max-width: 28px;
}

.coins>img {
  width: 100%;
}

.score {
  background-color: #6550E2;
  height: auto;
  margin: 8px 24px 8px 24px;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
}

.score>p {
  line-height: .5em;
  font-size: 1em;
  font-weight: bolder;
}

.bgoverlay {
  width: 100%;
  height: 100%;
  background-color: #6550E2;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: hard-light;
  border-radius: 0px 16px 16px 0px;
}

.toolTip {
  width: 40%;
  height: 30%;
  position: relative;
  display: none;
  z-index: 12;
  flex-direction: column;
  transition: all ease-in-out 2s;
}

.cardTool {
  position: relative;
  background-color: #6550E2;
  border-radius: 16px;
  padding: 40px;
  -webkit-box-shadow: 0px 5px 26px 0px #6550E2;
  box-shadow: 0px 5px 26px 0px #6550E2;
  z-index:12;
}

.iconNav {
  max-width: 80px;
  margin: 0 auto;
}

.iconNav>img {
  width: 100%;
}

.iconPointer {
  max-width: 80px;
  position: absolute;
  top: 3%;
  left: 50%;
}

.iconPointer>img {
  width: 100%;
}

.iconNav2 {
  max-width: 80px;
  margin: 0 auto;
  display: none;
}

.iconNav2>img {
  width: 100%;
}

.iconPointer2 {
  max-width: 80px;
  position: absolute;
  top: 3%;
  left: 50%;
  display: none;
}

.iconPointer2>img {
  width: 100%;
}

.toolTipLat {
  position: absolute;
  top: 60px;
  right: 70px;
  width: 16%;
  display: none;
}

.containerBullet {
  position: relative;
  width: 100%;
}

.containerBullet>p {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 80%;
  font-size: .8em;
}

.bullet {
  max-width: 270px;
}

.bullet>img {
  width: 100%;
}
.btnXWelcome {
  max-width: 40px;
  position: absolute;
  top: -20px;
  right: -15px;
  z-index: 2;
}


.btnXWelcome>img {
  width: 100%;
}
.btnXLeft {
  max-width: 30px;
  position: absolute;
  top: -20px;
  left: -15px;
  z-index: 2;
}

.btnXLeft>img {
  width: 100%;
}
.btnXtool {
  max-width: 40px;
  position: absolute;
  top: -20px;
  right: -15px;
  z-index: 2;
}

.btnXtool>img {
  width: 100%;
}

.wrapperMenu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  display: none;
}

#morph {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -25%;
  pointer-events: none;
}

.menuMorph {
  pointer-events: none;
}

.arrowBack {
  position: absolute;
  left: 55%;
  top: 6%;
  z-index: 12;
  max-width: 60px;
  display: none;
  opacity: 0;
  transition: all ease-in-out 2s;
}

.arrowBack>img {
  width: 100%;
}

.optionMenu {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
}

.notification {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: #9AC906;
  align-items: center;
  position: absolute;
  top: 120px;
  left: -280px;
  border-radius: 0px 16px 16px 0px;
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #FA9128;
  filter: blur(1px);
  margin-right: 16px;
}

.iconActiveMision {
  width: 32px;
  margin-right: 16px;
  margin-left: 16px;
}

.iconActiveMision>img {
  width: 100%;
}

.notification>p {
  color: rgba(101, 80, 226, 1);
  font-weight: bold;
  margin-right: 16px;
}
.notificationComplete{
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: #9AC906;
  align-items: center;
  position: absolute;
  top: 40%;
  right: -280px;
  border-radius: 16px 0px 0px 16px;
  
}
.iconComplete{
  width: 18px;
  margin-left: 16px;
}
.iconComplete>img{
  width: 100%;
}
.txtComplete{
  margin-left: 16px;
  margin-right: 16px;
}
.txtComplete>p{
  margin-block-start: .2em;
  margin-block-end: .2em;
  color: rgba(101, 80, 226, 1);
  font-weight: bold;
}
.txtComplete>h4{
  margin-block-start: .2em;
  margin-block-end: .2em;
}