.containerStats {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.containerMisiones {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.containerMisiones>h2 {
  width: 100%;
  text-align: right;
}

.cardMision {
  position: relative;
  max-width: 80px;
  height: 160px;
  margin-left: 28px;
  display: inline-block;
}

.bulletMision {
  position: relative;
  width: 100%;
}

.bulletMision>img {
  width: 100%;
  position: absolute;
  top: 0;
}

.mision {
  position: relative;
  color: #6550E2;
  z-index: 2;
  width: 100%;
  padding: 8px;
}

.mision>p {
  font-size: .5em;
  text-align: center;
  width: 100%;
}

.iconMision {
  width: 60%;
  margin: 0 auto;
}

.iconMision>img {
  width: 80%;
}

.numberMision {
  max-width: 80px;
  position: relative;
  margin-top: 28px;
}

.numberMision>p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
  margin-block-start: .2em;
  margin-block-end: 0em;
  font-weight: bolder;
}

.numberFoot {
  width: 100%;
  position: absolute;
  top: 0;
}

.numberFoot>img {
  width: 100%;
}
@media (max-width: 821px) {
  .cardMision {
    max-width: 48px;
    height: 120px;
    margin-left: 12px;
  }
  .numberMision {
    margin-top: 8px;
  }
  
  .numberMision>p {
    width: 100%;
    margin-block-start: .4em;
    margin-block-end: 0em;
    font-weight: bolder;
  }
  .containerMisiones {
    width: 80%;
    height: auto;
    margin-top: 0px;
    margin-right: -80px;
  }
  .containerMisiones>h2 {
    font-size: .8em;
    margin-block-start: 1em;
    margin-block-end: 0.4em;
}
  .mision>p {
    font-size: .3em;
    text-align: center;
    width: 100%;
  }
  
}
@media (max-width: 736px) {
  .containerMisiones {
    width: 92%;
    margin-right: 0px;
  }
  .mision {
    padding: 4px;
  }
  .mision>p {
    font-size: .01em;
    width: 100%;
    text-align: center;
    white-space: break-spaces;
  }
  .containerStats {
    margin-top: 40px;
  }
}