<div id="containerModel"></div>
<div class="bienvenida">
  <div class="overlay"></div>
  <div class="logoWowBen">
    <img src="../../../public/assets/logo-wow.svg" alt="logo-wow">
  </div>
  <div class="welcomeModal">
    <h1>¡BIENVENIDO!</h1>
    <P>
      Estás a punto de entrar a un punto de venta sigue las indicaciones para poder ganar
    </P>
    <div class="btnX">
      <img src="../../../public/assets/btn-x.svg" alt="x">
    </div>
    <div class="btnEnter">
      <img src="../../../public/assets/bg-btn-hor-y.svg" alt="enter">
      <p>Entrar</p>
    </div>
  </div>
</div>

<div class="uiModel">
  <div class="btnModel">
    <img src='../../../public/assets/btn-help.svg' onmouseover="this.src='../../../public/assets/btn-help-dark.svg'"
      onmouseout="this.src='../../../public/assets/btn-help.svg'" alt="help">
  </div>
  <div class="btnModel">
    <img src='../../../public/assets/btn-guardar.svg'
      onmouseover="this.src='../../../public/assets/btn-guardar-dark.svg'"
      onmouseout="this.src='../../../public/assets/btn-guardar.svg'" alt="guardar">
  </div>
  <div class="btnModel">
    <img src='../../../public/assets/btn-score.svg' onmouseover="this.src='../../../public/assets/btn-score-dark.svg'"
      onmouseout="this.src='../../../public/assets/btn-score.svg'" alt="score">
  </div>
</div>
<div class="uiUser">
  <div class="wrapperScore">
    <div class="bgoverlay"></div>
    <div class="cardPoints">
      <div class="nameUser">
        <p>Juanit Escarcha</p>
      </div>
      <div class="points">
        <div class="coins">
          <img src="../../../public/assets/coins.svg" alt="coins">
        </div>
        <div class="score">
          <p>0</p>
        </div>
      </div>
    </div>
  </div>
</div>
