<div id="containerModel"></div>
<div class="wrapperModales">
  <div class="overlay"></div>
  <div class="logoWowBen">
    <img src="../../../public/assets/logo-wow.svg" alt="logo-wow">
  </div>
  <div class="welcomeModal">
    <h1>¡BIENVENIDO!</h1>
    <P>
      Estás a punto de entrar a un punto de venta sigue las indicaciones para poder ganar
    </P>
    <div class="btnX">
      <img src="../../../public/assets/btn-x.svg" alt="x">
    </div>
    <div class="btnEnter">
      <img src="../../../public/assets/bg-btn-hor-y.svg" alt="enter">
      <p>Entrar</p>
    </div>
  </div>
  <div class="toolTip">
    <div class="iconNav">
      <img src="../../../public/assets/drag-btn.svg" alt="360">
    </div>
    <div class="iconPointer">
      <img src="../../../public/assets/cursor-pointer.svg" alt="pointer">
    </div>
    <div class="iconNav2">
      <img src="../../../public/assets/navModel.svg" alt="navmodel">
    </div>
    <div class="iconPointer2">
      <img src="../../../public/assets/cursor-pointer.svg" alt="pointer">
    </div>
    <div class="cardTool">
      <p>Clic y arrastrar para poder
        observar al rededor</p>
      <div class="btnX">
        <img src="../../../public/assets/btn-x.svg" alt="x">
      </div>
    </div>

  </div>
  <div class="toolTipLat">
    <div class="containerBullet">
      <div class="btnXLeft">
        <img src="../../../public/assets/btn-x.svg" alt="x">
      </div>
      <div class="bullet">
        <img src="../../../public/assets/bullet.svg" alt="bullet">
      </div>
      <p>Este botón nos deja ver el
        tutorial de ayuda</p>
    </div>
  </div>
</div>

<div class="uiModel">
  <div class="btnModel1">
    <img id="btnHelp" src='../../../public/assets/btn-help.svg'
      onmouseover="this.src='../../../public/assets/btn-help-dark.svg'"
      onmouseout="this.src='../../../public/assets/btn-help.svg'" alt="help">
  </div>
  <div class="btnModel2 animate__delay-1s">
    <img id="btnSave" src='../../../public/assets/btn-guardar.svg'
      onmouseover="this.src='../../../public/assets/btn-guardar-dark.svg'"
      onmouseout="this.src='../../../public/assets/btn-guardar.svg'" alt="guardar">
  </div>
  <div class="btnModel3 animate__delay-2s">
    <img id="btnStats" src='../../../public/assets/btn-score.svg'
      onmouseover="this.src='../../../public/assets/btn-score-dark.svg'"
      onmouseout="this.src='../../../public/assets/btn-score.svg'" alt="score">
  </div>
</div>
<div class="uiUser">
  <div class="wrapperScore">
    <div class="bgoverlay"></div>
    <div class="cardPoints">
      <div class="nameUser">
        <p>Juanito Escarcha</p>
      </div>
      <div class="points">
        <div class="coins">
          <img src="../../../public/assets/coins.svg" alt="coins">
        </div>
        <div class="score">
          <p>0</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapperMenu">
  <div class="arrowBack">
    <img src="../../../public/assets/arrow-back.svg" alt="arrow">
  </div>
  <svg class="unactive" id="morph" height="100" width="100" viewBox="0 0 1058 900" preserverAspectRatio="none">
    <path class="menuMorph" d="M1058,0L1058,0c0,87.8,0,292.1,0,472.3c0,266.8,0,421.3,0,604.7l0,0V0z" fill="#866EEA">
    </path>
  </svg>
  <div class="optionMenu"></div>
</div>
