<div class="btnSaveInt">
    <img id="btnSaveInt" src='../../../public/assets/btn-guardar-dark.svg'>
</div>
<div class="categorias"></div>
<div class="saveProgress">
    <h2>Tu progreso ha sido guardado</h2>
    <p>¿Deseas seguir en Wow?</p>
    <div class="btnsGuardar">
        <div class="btnSalir btnProg  animate__animated animate__slideInUp">
            <img src="../../../public/assets/bg-btn-hor-y.svg" alt="btn-salir">
            <p>Salir</p>
        </div>
        <div class="btnCont btnProg  animate__animated animate__slideInUp">
            <img src="../../../public/assets/btn-green-hor.svg" alt="btn-salir">
            <p>Continuar</p>
        </div>
    </div>
</div>