<div class="btnSaveInt">
  <img id="btnSaveInt" src='../../../public/assets/btn-score-dark.svg'>
</div>
<div class="categorias"></div>
<div class="containerMisiones">
  <h2>Misiones</h2>
  <div class="contentMisiones">
    <div class="swipperMisiones">
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>

      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
      <div class="cardMision animate__animated animate__backInRight">
        <div class="bulletMision">
          <div class="mision">
            <p>Encuentra la piña</p>
            <div class="iconMision">
              <img src="../../../public/assets/piña.svg" alt="piña">
            </div>
          </div>
          <img src="../../../public/assets/bullet-mision.svg" alt="bulletSvg">
        </div>
        <div class="numberMision">
          <p>1</p>
          <div class="numberFoot">
              <img src="../../../public/assets/number-unactive.svg" alt="unactive">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="arrowNext">
      <img src="" alt="next">
    </div>
    <div class="arrowPrev">
      <img src="" alt="prev">
    </div> -->
  </div>

</div>
