<h2>Categorías</h2>
<div class="wrapperCanasta">
  <div id="progressCanasta" class="canasta" >
    <div class="imgProgress">
      <img src="../../../public/assets/canasta-color.png" alt="canasta">
    </div>
  </div>
</div>
<div class="wrapperIconsCat">
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/bread.svg" alt="pan">
      </div>
      
    </div>
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/muffin.svg" alt="pan">
      </div>
      
    </div>
    
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/papas.svg" alt="pan">
      </div>
      
    </div>
    
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/galleta.svg" alt="pan">
      </div>
      
    </div>
    
  </div>
  
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/tortilla.svg" alt="pan">
      </div>
    </div>
  </div>
</div>
<div class="progressCat">
  <div></div>
</div>