<h2>Categorías</h2>
<div class="wrapperIconsCat">
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/bread.svg" alt="pan">
      </div>
      <p>Pan de caja</p>
    </div>
    <div class="progressCat">
      <div></div>
    </div>
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/bread.svg" alt="pan">
      </div>
      <p>Pan de caja</p>
    </div>
    <div class="progressCat">
      <div></div>
    </div>
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/bread.svg" alt="pan">
      </div>
      <p>Pan de caja</p>
    </div>
    <div class="progressCat">
      <div></div>
    </div>
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/bread.svg" alt="pan">
      </div>
      <p>Pan de caja</p>
    </div>
    <div class="progressCat">
      <div></div>
    </div>
  </div>
  <div class="IconContent animate__animated animate__backInRight">
    <div class="iconComponent">
      <div class="bgIcon">
        <img src="../../../public/assets/bread.svg" alt="pan">
      </div>
      <p>Pan de caja</p>
    </div>
    <div class="progressCat">
      <div></div>
    </div>
  </div>
</div>
