<div class="toolTip">
    <div class="iconNav">
      <img src="../../../public/assets/drag-btn.svg" alt="360">
    </div>
    <div class="iconPointer">
      <img src="../../../public/assets/cursor-pointer.svg" alt="pointer">
    </div>
    <div class="iconNav2">
      <img src="../../../public/assets/navModel.svg" alt="navmodel">
    </div>
    <div class="iconPointer2">
      <img src="../../../public/assets/cursor-pointer.svg" alt="pointer">
    </div>
    <div class="cardTool">
      <p>Clic y arrastrar para poder
        observar al rededor</p>
      <div class="btnXtool">
        <img src="../../../public/assets/btn-x.svg" alt="x">
      </div>
    </div>

  </div>
  <div class="toolTipLat close">
    <div class="containerBullet">
      <div class="btnXLeft">
        <img src="../../../public/assets/btn-x.svg" alt="x">
      </div>
      <div class="bullet">
        <img src="../../../public/assets/bullet.svg" alt="bullet">
      </div>
      <p>Este botón nos deja ver el
        tutorial de ayuda</p>
    </div>
  </div>